// Assets
@import fontz

//variables
//colors
  $primary-color
  $secondary-color
//named colors
$background-color: #101112
$content-width: 800px
$text-color: #eee
$link-color: #65A5A5
$link-hover-color: #32B2B2

//breakpoints
$breakpoint: 64.063em

// layout
$spacer: 20px //the general space between elements

//extends
%font-bold
  font-weight: bold

%text-center
  margin: 0 auto
  text-align: center

// Libraries
@import tooltip

//normalize reset
@for $i from 1 through 6
  h#{$i}
    margin: 0

//grid
.row
  display: block
  width: 100%

.col
  margin: 0 auto
  padding: 0 15px
  width: 100%
  @media only screen and (min-width: $breakpoint)
    padding: 0
    width: $content-width

//modules

// Base
html,
body
  margin: 0
  padding: 0

body
  background: $background-color
  color: $text-color
  font-size: 1em

a,
a:visited,
a:active
  color: $link-color
a:hover
  color: $link-hover-color

// text utility
.headline
  @extend %font-bold
  background: $background-color
  #contentintro &
    @extend %text-center
    border-top: solid 1px white
    width: 50%
    @media only screen and (min-width: $breakpoint)
      width: 500px

.legal
  text-align: right
  padding-right: 40px
  color: #9E9E9E

// #contentintro

.title
  margin:
    top: -1 * $spacer
  text-align: center
  width: 100%
.title-summary
  font-size: normal

.banner
  background: 
    image: url('../img/banner.jpg')
    position: center center
  height: 571px

#maincontent
  margin-top: $spacer * 2

.footer-logos
  @extend %text-center
  width: 60%
  @media only screen and (min-width: $breakpoint)
    width: $content-width

// .slider
// .slide

.tooltip
  margin-right: 20px
  line-height: 4

.fa-sparqlcity,
.fa-frontendauth
  font-family: 'fontz'
  position: relative
  top: 4px

.fa-sparqlcity:before
  content: '\e600'

.fa-frontendauth:before
  content: '\e601'