//variables
  $primary-color
  $secondary-color

body
  background: gray
  font-size: 1em

//classes to add
  //grid
  .row
    full width
  .col
    content width
  //text utility
  .headline
  .text-center
  .legal
  //modules
  .banner
  .footer-logos
    extend text-center
  .slider
  .slide

.tooltip
  display: none
  visibility: hidden
  a:hover &
    display: block
    visibility: visible
