extends ../includes/page.jade

block title
  title 404! ~AJZane.com~
block content
  .row#maincontent
    .col
      h1 Woops.
      p Looks like something broke the internet there...
      br
      p
        a(href="/") &laquo; Back home
