extends ../includes/page.jade

block banner
  .banner(role="banner") &nbsp;

block content  
  .row#contentintro
    .col
      h1.title(itemprop="name") AJ Zane
      p.headline(role="heading") Develop Narrative
  .row#maincontent
    .col(itemprop="description" role="main")
      //- .slider(role="slider" aria-valuemax="3" aria-valuemin="1" aria-valuenow="1")
        //- .slide Slide 1
        //- .slide Slide 2
        //- .slide Slide 3
        div Slide 1
        div Slide 2
        div Slide 3
      .summary
        //- h1.title-summary Summary:
        p I am an interactive web developer, narrative designer, &amp; community strengthener. 
        p By constantly practicing the crafts of code development &amp; efficient messaging I aim to create engaging experiences that make people reconsider the definition of normal.
        p By creating opportunities for knowledge sharing in digital &amp; physical communities, I strive to raise the bar of excellence in the interactive dev industry &amp; give people the confidence and skills to push the web forward.
        br
        p Every day I try to make something cooler than it was before.
        br
  .row
    .col
      p.headline.text-center Awards, Honors, &amp; Publications
      p Listed by Torque Magazine in the <a href="http://torquemag.io/100-wordpress-influencers-follow-2015/">top 100 WordPress influencers to follow in 2015</a>
      p Presenter: Half-day WordPress theme development workshop at <a href="http://sandiego.wordcamp.org/2015">WordCamp San Diego 2015</a>
      p Admin of <a href="http://advancedwp.org">Advaned WordPress</a>, a 12,000+ member group that is "a place for WP developers on Facebook to meet and share ideas and knowledge with a focus on the most advanced features and functionality without necessarily having to go into any basics."
      p Founder of <a href="http://frontendauthority.org">Front End Authority</a>, a monthly meetup that brings "like-minded pros and learners together to share knowledge, make connections, have some beers, and stay up to date on the constantly changing world of Front End Web Development."