extends ../includes/page.jade

block banner
  .banner &nbsp;

block content  
  .row#maincontent
    .col
      h1(itemprop="name") AJ Zane
      p.headline Develop Narrative
  .row
    .col(itemprop="description")
      p Summary
