extends ../includes/page.jade

block banner
  .banner(role="banner") &nbsp;

block content  
  .row#maincontent
    .col
      h1(itemprop="name") AJ Zane
      p.headline(role="heading") Develop Narrative
  .row
    .col(itemprop="description" role="main")
      p Summary
  .row
    .col()
      .slider(role="slider" aria-valuemax="3" aria-valuemin="1" aria-valuenow="1")
        .slide Slide 1
        .slide Slide 2
        .slide Slide 3
