extends ../includes/page.jade

block banner
  .banner(role="banner") &nbsp;

block content  
  .row#contentintro
    .col
      h1.title(itemprop="name") AJ Zane
      p.headline(role="heading") Develop Narrative
  .row#maincontent
    .col(itemprop="description" role="main")
      .slider(role="slider" aria-valuemax="3" aria-valuemin="1" aria-valuenow="1")
        .slide Slide 1
        .slide Slide 2
        .slide Slide 3
      h1.title-summary Summary
      p this is what I do. All day long. Every day.
