.row
  .footer-logos
    p.text-center
      a(href="http://twitter.com/azanebrain")
        i(class="fa fa-twitter")
      span &nbsp;
      a(href="https://github.com/azanebrain")
        i(class="fa fa-github")
      span &nbsp;
      a(href="http://azanebrain.github.io/")
        i(class="fa fa-pencil-square-o")
script(src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js")
