// Welcome to my code
  iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii111111111111111111111111111111111
  iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii1i11111111111111111111111111111
  iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii11111111111111111111111111111
  iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii111111111111111111111111111
  iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii11111111111111111111111111
  iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii111111111111111111111111
  iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii11111111111111111111111
  iiiiiiiiiiiiiiiiiiiii;iiiiii;iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii1i111111111111111111111
  iiiiiiiiiiiiiiiiii;iiiiiii;;;;;;i;iiiiii;iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii1i111111111111111111111
  iiiiiiiiiiiiiiii;i;;;;;;;;;;;;;;;iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii111111111111111111111
  iiiiiiiiiiii;ii;i;;;;;;;;;;;;;;;;;;;;iiiitLC0CL1iiiiiiiiiiiiiiiiiiiiiiiiiiiii11111111111111111111111
  iiiiiiiiiiii;;;;;;;;;;;;;;;;;;;;;;i;iL888@@8@@@@@8fiiiiiiiiiiiiiiiiiiiiiiiiiiiii11111111111111111111
  iiiiiiiii;;i;;;;;;;;;;;;;;;;;;;;;;;18@@88888880G8@@Ciiiiiiiiiiiiiiiiiiiiiiiiiiiii1111111111111111111
  iiiiiii;;;;;;;;;;;;;;;;;;;;;;;;;;;;0@0LLLftttffLCG@0iiiiiiiiiiiiiiiiiiiiiiiiiiii11111111111111111111
  iiiiiiiii;;;;;;;;;;;;;;;;;;;;;;;;ii00CLLfffffffLLC88iiiiiiiiiiiiiiiiiiiiiiiiiiiiiii11111111111111111
  iiiiiiii;;;;;;;;;;;;;;;;;;;;;;;;;;;L8GCLftttttffLC08iiiiiiiiiiiiiiiiiiiiiiiiiiiiiii11111111111111111
  iiiiii;;i;;;;;;;;;;;;;;;;;;;;;;;;;;18CLLLLLffC0GG0C8Giiiiiiiiiiiiiiiiiiiiiiiiiiiiii11111111111111111
  iiiiiii;;i;;i;;;;;;;;;;;;;;;;;;;;;;C0LGCG80LfCC00CLGGiiiiiiiiiiiiiiiiiiiiiiiiiiii1i11111111111111111
  iiiiiii;;;;;;;;;;;;;;;;;;;;;;;;;;;i1GLffffLffLLfffLGG1iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii11111111111111
  iiiiiiii;;;;;;;;;;;;;;;;;;;;;i;;;iiifGLfffLLLCCffLC8t1iiiiiiiiiiiiiiiiiiiiiiiiiiiiii1i11111111111111
  iiiiii;iiiii;;;;;;;;;;;;;;;;;;;;ifi11L0LffL00G00GC8G111iiiiiiiiiiiiiiiiiiiiiiiiiiiiiii11111111111111
  iiiiiiii;i;;;;;;;;;;;;;;;;;;;;;;iii11tC8G80GCCGG880t111iiiiiiiiiiiiiiiiiiiiiiiiiiiiiii11111111111111
  iiiiiiiiii;;;;;;;;;;;;;;;;;;;;;iiii1ttfG@@80CGG8@8Lftt111iiiiiiiiiiiiiiiiiiiiiiiiiiiiiii111111111111
  iiiiiiiiiii;;;;;;;;;;;;;;;i;;;i;ii1ttfLCG8@@@@@@0GCfftt111iiiiiiiiiiiiiiiiiiii111111iii1i11111111111
  iiiiiiiiiiiii;;;;;ii;;;;i;iiiiiii11ttfCCCCGGGGGGGGGGftt111iiiiiiiiiiiiiiiiiiiiii11iiiiiii1i111111111
  iiiiiiiiii;i;;;;;;i;;;;iiiiiiiiiiitGGGLLLLLCCGCCCCCGGGGCt111iiiiiiiiiiiiiiiiiiiiiiiiiiiii11111111111
  iiiiiiii;i;;;;;;;ii;iiiiiiiiitCGGGGGGGGLfLLffffLLCGGGGGGGGGGGCf1iiiiiiiiiiiiiiii1iiiiiiiiii111111111
  iiiiiiiiiiiii;;iiiiiiiiiifCCGGGGGGGGGGGGGGGGGGG0GGGGGGGGGGGGGGGGGGL1iiiiiiiiiiiiiiiiiiiiii1111111111
  iiiiiiiii;iiiii;iiiiiiLCGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGC11iiiiiiiiiiiiiii1iii1111111111
  iiiiiiiiiiiiiiiiiiii1GGGfttttt1111111111t1tttt11tt1tt111t1tttttttttttL1iiiiiiiiiiiiiii1i11ii11111111
  iiiiiiiiiiiiiiiiiii1GGGCLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL111LLi1i1iiiiiiiiiiiiiii1111111111
  iiiiiiiiiiiiiiiiiiiGGGGCCCCCCCLLLCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCft11LGf11iiiiiiiiiiiiiiii1i11i11111
  iiiiiiiiiiiiiiiiiiCGGGGCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCGG1111ii11iiiiiiii1ii1i1111111
  iiiiiiiiiiiiiiiiiLGGGGGCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCGGGLi1111111i1iiiiiiiiiii111111
  iiiiiiiiiiiiiiiitGGGGGGCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCGGGGt111111iiiiiiiiii1ii1i11111
  iiiiiiiiiiiiiii1GGGGGGGCCCCCCCCCCCCCCCCCCCCCCCC1LCCCCCCCCCCCCCCCCCCCGGGGGC11111111i1iiiii1iiii111111
  iiiiiiiiiiiiiiiCGGGGGGGGCCCCCCCCCCCCCCCCCCCCi.,.,LCCCCCCCCCCCCCCCCCCGGGGGGL1111111ii1iiiiiiiiii11i11
  iiiiiiiiiiiiii1LGGGGGGGGCCCCCCCCCCCCCCCCCCCf    :CCCCCCCCCCCGGGGGGGGGGGGGGGt111111i1ii1i1iiiiiiii111
  iiiiiiiiiiiiiii11f0GGGGGCCCCCCCCCCCCCCCCCCCCt   ,CCCCCCCCCCCCCGGGGGGGG00Lft1111111111iiii1iiiii1i111
  fiiiiiiiiiiiiii1tC00000GCCCCLCCCLLCCCCCCCCCCCCCCCCCCCCCCCCCCCGGGGGGGGG0Lfftt1111111i111iiiiiii11ii11
  iitG1iiiiiiiii1ttCGCCLLCCCCL@@@@@CCCCCCCCCCCCCCCCCCCGCCCCCCGGGGGGGGGGGGLLfft11111111iii1iiiiiii11i11
  iiiiiG1iiiiii11tfCCCCLLCCttLLfttt0ttLCCCCCCCCCCCCCCCCCCGCCCCGGGGGGGGGGGCLLftt11111111ii11i1ii1111111
  iiiiiitLiiiiii1tfGGCCCCCCCCLLG88LCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCGGGCGGG0GCLftt1111i111111i1i1iii11111
  iiiiiii1Liiiiii1LGCCCCCCCCCLtC0GLtCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCGGGGGGLLftt1111111111111iii111111
  1111111iCiiiiiiiL0GGGCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC0GGCLfftt1t11111111111111111111

  You can take a look at the uncompiled code and fork to your tummy’s content: https://github.com/azanebrain/ajzane-com
  It's a pretty straight forward setup but I wouldn't have gotten it done without a little help. Props to: 
  Slick slider
    Font Awesome for the icons
             Icomoon
  Codrops for tooltip inspiration
           Google Fonts
          Cloudflare CDN
          Normalize.css
            Modernizr
             jQuery
             grunt
             sass
             jade
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="icon" href="img/favico.ico" type="image/x-icon")
link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css")
link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
//- <!-- build:css .tmp/css/slick.min.css -->
link(rel="stylesheet", href="../../bower_components/slick-carousel/slick/slick.css")
link(rel="stylesheet", href="bower_components/slick-carousel/slick/slick-theme.css")
//- <!-- endbuild -->
link(rel="stylesheet", href="css/app.css")
script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
